html{
  font-family:  'Montserrat', 'sans-serif'  ; 
  font-size: 18px;
  background-color: #F1F4CD;
}

h1{
  position: absolute;
  left: 38%;
  font-size: 50px;
  margin-bottom: 20px;
}

ul{
  background: linear-gradient(145deg, #B7B9C5, #9A9CDB);
  box-shadow:  12px 12px 24px #8c8e7e, 
             -12px -12px 24px #caccb6;  
  position: absolute;
  top: 150px;
  left: 37%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 306px;
  padding: 0%;
  margin: 0px;
  user-select: none;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  width : 100px;
  height: 100px;
  list-style: none;
  cursor: pointer;
}

li:hover{
  background-color:#F1F4CD;
}




#right-stats{
  position: absolute;
  left: 241px;
  top: 134px;
}

span{
  padding: 20px;
  position: absolute;
  right: 254px;
  width: 165px;
  text-align: center;
  top: 150px;
  border-radius: 4px;
  background: linear-gradient(145deg, #c6c9a2, #a7a988);
  box-shadow: 20px 20px 39px #9da080, -20px -20px 39px #d5d8ae;
}

p{
  background: linear-gradient(145deg, #fdf4e7, #d4cdc2);
  box-shadow: 12px 12px 24px #c2bbb1, 4px 0px 24px #ffffff;  color: black;
  width: 130px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}


p:hover{
   background: linear-gradient(145deg, #e3dbd0, #bfb9af);
  
}

p:active{
  background: linear-gradient(145deg, #ccc6bb, #aca79e);
}

#item0{
  border-right: 3px solid #F1F4CD;
  border-bottom: 3px solid #F1F4CD;
}
#item1{
  border-right: 3px solid #F1F4CD;
  border-bottom: 3px solid #F1F4CD;
}
#item2{
  border-bottom: 3px solid #F1F4CD;
}
#item3{
  border-right: 3px solid #F1F4CD;
  border-bottom: 3px solid #F1F4CD;
}
#item4{
  border-right: 3px solid #F1F4CD;
  border-bottom: 3px solid #F1F4CD;
}
#item5{
  border-bottom: 3px solid #F1F4CD;
}
#item6{
  border-right: 3px solid #F1F4CD;
}
#item7{
  border-right: 3px solid #F1F4CD;
}